

<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div class="query">
  <div class="multiple-choice-dropdown" style="border: 1px solid !important; border-radius: 7px !important;">


    <ion-item class="ion-item-custom" style=" border-radius: 7px !important;">
        <div class="button-inner-div"
         item-left clear *ngFor="let product of Products" style="padding:0 0px">
        <div class="button-inner-div-div">{{product.name}}</div>
      </div>

      <ion-input [(ngModel)] = "productcreds.name" type="text" placeholder="add more..."></ion-input>
      <!--<div ion-button clear item-right><h1 style="margin:0px">sdasd</h1></div>-->
      <div></div><button class="plusIcon"  ion-button clear item-right icon-only (click)="addToArray(productcreds)">
        <ion-icon name="md-add"></ion-icon>
      </button>
      <button  class="searchIcon" ion-button clear item-right icon-only (click)="getProducts(productcreds)">
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-item>
  </div>


</div>

<div class="result">

  <div  *ngFor="let productArray of ProductArrays" class="product-item" >


    <div class="query-word-title">
      <span class="query-word-title-name">{{productArray.name}}</span>
      <span class="query-word-title-amount">{{productArray.amount}} items</span>
    </div>
    <div class="query-word-foundItems" id="query-word-foundItems">
      <ion-grid >
        <ion-row>
            <ion-col><div class="result-title">Name</div></ion-col>
            <ion-col><div class="result-title">Price</div></ion-col>
            <ion-col><div class="result-title">Shop</div></ion-col>

          </ion-row>
        <ion-row item-left clear *ngFor="let productDetails of productArray.details" >
            <ion-col >
                <div class="result-found-name">
                  {{productDetails.product}}
                </div>
            </ion-col>
            <ion-col >
                <div class="result-found-default">
                  {{productDetails.totalDiscountPCS}}
                </div>
            </ion-col>
            <ion-col >
                <div class="result-found-default">
                  {{productDetails.shopName}}
                </div>
            </ion-col>

        </ion-row>
      </ion-grid>
    </div>



</div>

</div>
</ion-content>

